
.icon-github-squared:before { content: '\e85e'; } /* '' */
.icon-mail-circled:before { content: '\e869'; } /* '' */
.icon-cc:before { content: '\e854'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-resize-small:before { content: '\e800'; } /* '' */
.icon-facebook-rect-2:before { content: '\e83b'; } /* '' */
.icon-up-open-big:before { content: '\e872'; } /* '' */
.icon-play-2:before { content: '\e807'; } /* '' */
.icon-pause-2:before { content: '\e808'; } /* '' */
.icon-twitter-circled:before { content: '\e832'; } /* '' */
.icon-facebook-circled:before { content: '\e834'; } /* '' */
.icon-email:before { content: '\e82c'; } /* '' */
.icon-twitter-rect:before { content: '\e802'; } /* '' */