#photoshop-container

	width: 100%
	height: 100%

#photoshop-bg

	position: absolute

	width: 100%
	height: 100%

	background: url('../../images/photoshop/bg.jpg') #000 no-repeat center center
	background-size: 100%

#photoshop-menu

#photoshop-tools

	position: absolute

	width: 39px
	height: 665px

	left: 2%
	top: 15%

	background: url('../../images/photoshop/pspanels-tools.png')

	-webkit-transform-origin: -20px

#photoshop-layers

	position: absolute

	width: 224px
	height: 231px

	right: 2%
	bottom: 15%

	background: url('../../images/photoshop/pspanels-layers.png')

	-webkit-transform-origin: 274px