{
  mainBox:
    height: 584
    _isVisible: true

  timeControl:
    t: 30002.197879594492
    _focus:
      from: 26497.81896927985
      to: 34568.6155360198

    _lastPlayedTickAt: 0

  workspaces:
    workspaces: [
      {
        name: "Stuff"
        propHolders: []
      }
      {
        name: "Photoshop"
        propHolders: [
          {
            id: "no-id-Photoshop-Menu Bar-Opacity"
            _expanded: true
            actorPropId: "no-id-Photoshop-Menu Bar-Opacity"
            _height: 283
          }
          {
            id: "no-id-Photoshop-Window Highlight-Opacity"
            _expanded: true
            actorPropId: "no-id-Photoshop-Window Highlight-Opacity"
            _height: 228
          }
          {
            id: "no-id-Photoshop-Window-Opacity"
            _expanded: true
            actorPropId: "no-id-Photoshop-Window-Opacity"
            _height: 80
          }
          {
            id: "no-id-Photoshop-Extension-Heighlight-Opacity"
            _expanded: true
            actorPropId: "no-id-Photoshop-Extension-Heighlight-Opacity"
            _height: 80
          }
          {
            id: "no-id-Photoshop-Extensions-Opacity"
            _expanded: true
            actorPropId: "no-id-Photoshop-Extensions-Opacity"
            _height: 80
          }
          {
            id: "no-id-Photoshop-Guides-Opacity"
            _expanded: true
            actorPropId: "no-id-Photoshop-Guides-Opacity"
            _height: 80
          }
        ]
      }
    ]
    _activeWorkspaceName: "Photoshop"

  timeline:
    _allProps:
      "no-id-Slideshows-Slideshow-Slide":
        pacs:
          _idCounter: 3
          chronologyLength: 662.7245077059946
          chronology:
            points: [
              {
                t: 24.521531100478512
                value: 0
                id: "no-id-Slideshows-Slideshow-Slide-point-0"
                handler: [
                  30.023921966552734
                  1.7630478143692017
                  12.081337928771973
                  1.316975474357605
                ]
              }
              {
                t: 162.67040946358594
                value: 1
                id: "no-id-Slideshows-Slideshow-Slide-point-2"
                handler: [
                  17.464113235473633
                  0.33837011456489563
                  22.846887588500977
                  0.5574586987495422
                ]
              }
              {
                t: 314.2206246543725
                value: 2
                id: "no-id-Slideshows-Slideshow-Slide-point-3"
                handler: [
                  18.66028594970703
                  0.38705646991729736
                  17.464113235473633
                  0.2896837890148163
                ]
              }
              {
                t: 478.00305354523846
                value: 3
                id: "no-id-Slideshows-Slideshow-Slide-point-1"
                handler: [
                  16.86602783203125
                  0.7731920480728149
                  13.875596046447754
                  0.6882259249687195
                ]
              }
              {
                t: 662.7245077059946
                value: 4
                id: "no-id-Slideshows-Slideshow-Slide-point-1"
                handler: [
                  16.86602783203125
                  0.7731920480728149
                  13.875596046447754
                  0.6882259249687195
                ]
              }
              {
                t: 266.1483253588517
                value: 5
                id: "no-id-Slideshows-Slideshow-Slide-point-1"
                handler: [
                  16.86602783203125
                  0.7731920480728149
                  13.875596046447754
                  0.6882259249687195
                ]
              }
            ]
            connectors: []

      "no-id-Photoshop-BG-Opacity":
        pacs:
          _idCounter: 8
          chronologyLength: 20784.923605808315
          chronology:
            points: [
              {
                t: 19992.677824267776
                value: 0
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  15.271965026855469
                  0.721875011920929
                  762.6152954101562
                  0
                ]
              }
              {
                t: 20784.923605808315
                value: 1
                id: "no-id-Photoshop-BG-Opacity-point-4"
                handler: [
                  467.3353271484375
                  0
                  100
                  0.048124998807907104
                ]
              }
            ]
            connectors: [
              t: 19992.677824267776
              id: "no-id-Photoshop-BG-Opacity-connector-8"
            ]

      "no-id-Photoshop-Tools-Opacity":
        pacs:
          _idCounter: 6
          chronologyLength: 20805.416330589127
          chronology:
            points: [
              {
                t: 20417.49924242786
                value: 0
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  15.271965026855469
                  0.721875011920929
                  217.16845703125
                  0
                ]
              }
              {
                t: 20805.416330589127
                value: 1
                id: "no-id-Photoshop-Tools-Opacity-point-1"
                handler: [
                  100
                  0.0397031269967556
                  100
                  0.0397031269967556
                ]
              }
            ]
            connectors: [
              t: 20417.49924242786
              id: "no-id-Photoshop-Tools-Opacity-connector-6"
            ]

      "no-id-Photoshop-Layers-Opacity":
        pacs:
          _idCounter: 0
          chronologyLength: 20807.385452864062
          chronology:
            points: [
              {
                t: 20419.468364702796
                value: 0
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  15.271965026855469
                  0.721875011920929
                  217.16845703125
                  0
                ]
              }
              {
                t: 20807.385452864062
                value: 1
                id: "no-id-Photoshop-Tools-Opacity-point-1"
                handler: [
                  100
                  0.0397031269967556
                  100
                  0.0397031269967556
                ]
              }
            ]
            connectors: [
              t: 20419.468364702796
              id: "no-id-Photoshop-Tools-Opacity-connector-6"
            ]

      "no-id-Photoshop-BG-Rotation X":
        pacs:
          _idCounter: 3
          chronologyLength: 20995.98580743778
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-BG-Scale X":
        pacs:
          _idCounter: 2
          chronologyLength: 20891.54871746121
          chronology:
            points: [
              {
                t: 19998.07619786772
                value: 0.9
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  36.932308197021484
                  0.17931927740573883
                  606.5302124023438
                  0
                ]
              }
              {
                t: 20891.54871746121
                value: 1
                id: "no-id-Photoshop-BG-Opacity-point-4"
                handler: [
                  554.5308227539062
                  0
                  100
                  0.048124998807907104
                ]
              }
            ]
            connectors: [
              t: 19998.07619786772
              id: "no-id-Photoshop-BG-Scale X-connector-2"
            ]

      "no-id-Photoshop-BG-Scale Y":
        pacs:
          _idCounter: 0
          chronologyLength: 20891.54871746121
          chronology:
            points: [
              {
                t: 19998.07619786772
                value: 0.9
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  15.271965026855469
                  0.16472315788269043
                  604.165283203125
                  0
                ]
              }
              {
                t: 20891.54871746121
                value: 1
                id: "no-id-Photoshop-BG-Opacity-point-4"
                handler: [
                  553.7491455078125
                  0
                  100
                  0.048124998807907104
                ]
              }
            ]
            connectors: [
              t: 19998.07619786772
              id: "no-id-Photoshop-BG-Scale X-connector-2"
            ]

      "no-id-Photoshop-BG-Rotation Y":
        pacs:
          _idCounter: 1
          chronologyLength: 20370.24030782954
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Tools-Rotation X":
        pacs:
          _idCounter: 0
          chronologyLength: 20496.264133425073
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Tools-Rotation Y":
        pacs:
          _idCounter: 3
          chronologyLength: 20815.261941963778
          chronology:
            points: [
              {
                t: 20419.468364702796
                value: -50
                id: "no-id-Photoshop-Tools-Rotation Y-point-1"
                handler: [
                  100
                  1
                  226.02381896972656
                  0
                ]
              }
              {
                t: 20815.261941963778
                value: -1
                id: "no-id-Photoshop-Tools-Rotation Y-point-2"
                handler: [
                  355.98590087890625
                  0
                  100
                  5.087500095367432
                ]
              }
            ]
            connectors: [
              t: 20419.468364702796
              id: "no-id-Photoshop-Tools-Rotation Y-connector-3"
            ]

      "no-id-Photoshop-Tools-Z":
        pacs:
          _idCounter: 0
          chronologyLength: 20423.406609252655
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Layers-Y":
        pacs:
          _idCounter: -1
          chronologyLength: 20815.261941963778
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Layers-Rotation Y":
        pacs:
          _idCounter: -1
          chronologyLength: 20815.26194196378
          chronology:
            points: [
              {
                t: 20419.4683647028
                value: 30
                id: "no-id-Photoshop-Tools-Rotation Y-point-1"
                handler: [
                  100
                  1
                  226.02381896972656
                  0
                ]
              }
              {
                t: 20815.26194196378
                value: 1
                id: "no-id-Photoshop-Tools-Rotation Y-point-2"
                handler: [
                  355.98590087890625
                  0
                  100
                  5.087500095367432
                ]
              }
            ]
            connectors: [
              t: 20419.4683647028
              id: "no-id-Photoshop-Tools-Rotation Y-connector-3"
            ]

      "no-id-Photoshop-Window-Opacity":
        pacs:
          _idCounter: 8
          chronologyLength: 28156.050936716776
          chronology:
            points: [
              {
                t: 24278.28914318858
                value: 0
                id: "no-id-Photoshop-Window-Opacity-point-5"
                handler: [
                  100
                  0.034699998795986176
                  197.08595275878906
                  0
                ]
              }
              {
                t: 24569.212108730106
                value: 1
                id: "no-id-Photoshop-Window-Opacity-point-6"
                handler: [
                  180.20143127441406
                  0
                  100
                  0.1091499999165535
                ]
              }
              {
                t: 25000.890728140013
                value: 1
                id: "no-id-Photoshop-Window-Opacity-point-0"
                handler: [
                  100
                  0.18000000715255737
                  268.8451232910156
                  0
                ]
              }
              {
                t: 25455.983830490073
                value: 0.5
                id: "no-id-Photoshop-Window-Opacity-point-1"
                handler: [
                  353.2676696777344
                  0
                  100
                  0.09955000132322311
                ]
              }
              {
                t: 27915.44664576271
                value: 0.5
                id: "no-id-Photoshop-Menu Bar-Opacity-point-5"
                handler: [
                  0
                  0.4862039089202881
                  188.64369201660156
                  0
                ]
              }
              {
                t: 28156.050936716776
                value: 0
                id: "no-id-Photoshop-Menu Bar-Opacity-point-6"
                handler: [
                  146.43240356445312
                  0
                  100
                  -0.011091499589383602
                ]
              }
            ]
            connectors: [
              {
                t: 24278.28914318858
                id: "no-id-Photoshop-Window-Opacity-connector-8"
              }
              {
                t: 25000.890728140013
                id: "no-id-Photoshop-Window-Opacity-connector-4"
              }
              {
                t: 27915.44664576271
                id: "no-id-Photoshop-Menu Bar-Opacity-connector-8"
              }
            ]

      "no-id-Photoshop-Window-Scale X":
        pacs:
          _idCounter: 2
          chronologyLength: 25540.406388719573
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Window-Scale Y":
        pacs:
          _idCounter: -1
          chronologyLength: 25548.848644542522
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Extension-Heighlight-Scale X":
        pacs:
          _idCounter: 2
          chronologyLength: 25000.102016050787
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Extension-Heighlight-Scale Y":
        pacs:
          _idCounter: -1
          chronologyLength: 25548.848644542522
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-Extension-Heighlight-X":
        pacs:
          _idCounter: 7
          chronologyLength: 25540.406388719573
          chronology:
            points: [
              {
                t: 25080.303446368813
                value: 0
                id: "no-id-Photoshop-Extension-Heighlight-X-point-0"
                handler: [
                  100
                  1.5
                  256.1817321777344
                  0
                ]
              }
              {
                t: 25540.406388719573
                value: 5
                id: "no-id-Photoshop-Extension-Heighlight-X-point-1"
                handler: [
                  353.2676696777344
                  0
                  100
                  0.1274999976158142
                ]
              }
            ]
            connectors: [
              t: 25080.303446368813
              id: "no-id-Photoshop-Extension-Heighlight-X-connector-7"
            ]

      "no-id-Photoshop-Extensions-Opacity":
        pacs:
          _idCounter: 6
          chronologyLength: 56409.187815397476
          chronology:
            points: [
              {
                t: 25240.706307004857
                value: 0
                id: "no-id-Photoshop-Extensions-Opacity-point-0"
                handler: [
                  0
                  0.0687674954533577
                  243.5183563232422
                  0
                ]
              }
              {
                t: 25548.848644542522
                value: 1
                id: "no-id-Photoshop-Extensions-Opacity-point-1"
                handler: [
                  230.85496520996094
                  0
                  100
                  0.012325000017881393
                ]
              }
              {
                t: 25715.657185903776
                value: 1
                id: "no-id-Photoshop-Window-Opacity-point-0"
                handler: [
                  100
                  0.18000000715255737
                  268.8451232910156
                  0
                ]
              }
              {
                t: 26170.750288253836
                value: 0.5
                id: "no-id-Photoshop-Window-Opacity-point-1"
                handler: [
                  353.2676696777344
                  0
                  100
                  0.09955000132322311
                ]
              }
              {
                t: 27915.44664576271
                value: 0.5
                id: "no-id-Photoshop-Menu Bar-Opacity-point-5"
                handler: [
                  100
                  0.0693218782544136
                  188.64369201660156
                  0
                ]
              }
              {
                t: 28156.050936716776
                value: 0
                id: "no-id-Photoshop-Menu Bar-Opacity-point-6"
                handler: [
                  146.43240356445312
                  0
                  100
                  -0.011091499589383602
                ]
              }
              {
                t: 56168.58352444341
                value: 0.3
                id: "no-id-Photoshop-Menu Bar-Opacity-point-5"
                handler: [
                  100
                  0.0693218782544136
                  188.64369201660156
                  0
                ]
              }
              {
                t: 56409.187815397476
                value: 0
                id: "no-id-Photoshop-Menu Bar-Opacity-point-6"
                handler: [
                  146.43240356445312
                  0
                  100
                  -0.011091499589383602
                ]
              }
            ]
            connectors: [
              {
                t: 25240.706307004857
                id: "no-id-Photoshop-Extensions-Opacity-connector-5"
              }
              {
                t: 25715.657185903776
                id: "no-id-Photoshop-Window-Opacity-connector-4"
              }
              {
                t: 27915.44664576271
                id: "no-id-Photoshop-Menu Bar-Opacity-connector-8"
              }
              {
                t: 56168.58352444341
                id: "no-id-Photoshop-Menu Bar-Opacity-connector-8"
              }
            ]

      "no-id-Photoshop-Guides-Opacity":
        pacs:
          _idCounter: 5
          chronologyLength: 28151.8298088053
          chronology:
            points: [
              {
                t: 25236.48517909338
                value: 0
                id: "no-id-Photoshop-Extensions-Opacity-point-0"
                handler: [
                  0
                  0.0687674954533577
                  243.5183563232422
                  0
                ]
              }
              {
                t: 25544.627516631044
                value: 1
                id: "no-id-Photoshop-Extensions-Opacity-point-1"
                handler: [
                  230.85496520996094
                  0
                  100
                  0.012325000017881393
                ]
              }
              {
                t: 27915.44664576271
                value: 1
                id: "no-id-Photoshop-Window Highlight-Opacity-point-2"
                handler: [
                  100
                  0.09220000356435776
                  129.5478973388672
                  0
                ]
              }
              {
                t: 28151.8298088053
                value: 0
                id: "no-id-Photoshop-Window Highlight-Opacity-point-3"
                handler: [
                  167.53805541992188
                  0
                  100
                  -0.008643750101327896
                ]
              }
            ]
            connectors: [
              {
                t: 25236.48517909338
                id: "no-id-Photoshop-Guides-Opacity-connector-5"
              }
              {
                t: 27915.44664576271
                id: "no-id-Photoshop-Window Highlight-Opacity-connector-4"
              }
            ]

      "no-id-Photoshop-Extension-Heighlight-Opacity":
        pacs:
          _idCounter: 1
          chronologyLength: 28151.8298088053
          chronology:
            points: [
              {
                t: 24289.363008397777
                value: 0
                id: "no-id-Photoshop-Window-Opacity-point-5"
                handler: [
                  100
                  0.034699998795986176
                  197.08595275878906
                  0
                ]
              }
              {
                t: 24580.285973939302
                value: 1
                id: "no-id-Photoshop-Window-Opacity-point-6"
                handler: [
                  180.20143127441406
                  0
                  100
                  0.1091499999165535
                ]
              }
              {
                t: 27915.44664576271
                value: 1
                id: "no-id-Photoshop-Window Highlight-Opacity-point-2"
                handler: [
                  100
                  0.09220000356435776
                  129.5478973388672
                  0
                ]
              }
              {
                t: 28151.8298088053
                value: 0
                id: "no-id-Photoshop-Window Highlight-Opacity-point-3"
                handler: [
                  167.53805541992188
                  0
                  100
                  -0.008643750101327896
                ]
              }
            ]
            connectors: [
              {
                t: 24289.363008397777
                id: "no-id-Photoshop-Window-Opacity-connector-8"
              }
              {
                t: 27915.44664576271
                id: "no-id-Photoshop-Window Highlight-Opacity-connector-4"
              }
            ]

      "no-id-Photoshop-Menu Bar-Opacity":
        pacs:
          _idCounter: 8
          chronologyLength: 28151.8298088053
          chronology:
            points: [
              {
                t: 23691.217503143325
                value: 0
                id: "no-id-Photoshop-Window-Opacity-point-5"
                handler: [
                  100
                  0.034699998795986176
                  197.08595275878906
                  0
                ]
              }
              {
                t: 23982.14046868485
                value: 1
                id: "no-id-Photoshop-Window-Opacity-point-6"
                handler: [
                  180.20143127441406
                  0
                  100
                  0.1091499999165535
                ]
              }
              {
                t: 24229.77300021841
                value: 1
                id: "no-id-Photoshop-Menu Bar-Opacity-point-0"
                handler: [
                  100
                  0.099823497235775
                  100
                  0
                ]
              }
              {
                t: 24432.387139969207
                value: 0.3
                id: "no-id-Photoshop-Menu Bar-Opacity-point-1"
                handler: [
                  100
                  -0.0027728748973459005
                  100
                  -0.0027728748973459005
                ]
              }
              {
                t: 27911.225517851235
                value: 0.3
                id: "no-id-Photoshop-Menu Bar-Opacity-point-5"
                handler: [
                  100
                  0.0693218782544136
                  188.64369201660156
                  0
                ]
              }
              {
                t: 28151.8298088053
                value: 0
                id: "no-id-Photoshop-Menu Bar-Opacity-point-6"
                handler: [
                  146.43240356445312
                  0
                  100
                  -0.011091499589383602
                ]
              }
            ]
            connectors: [
              {
                t: 23691.217503143325
                id: "no-id-Photoshop-Window-Opacity-connector-8"
              }
              {
                t: 24229.77300021841
                id: "no-id-Photoshop-Menu Bar-Opacity-connector-4"
              }
              {
                t: 27911.225517851235
                id: "no-id-Photoshop-Menu Bar-Opacity-connector-8"
              }
            ]

      "no-id-Photoshop-Window Highlight-Opacity":
        pacs:
          _idCounter: 4
          chronologyLength: 28151.8298088053
          chronology:
            points: [
              {
                t: 23533.286894825054
                value: 0
                id: "no-id-Photoshop-Window Highlight-Opacity-point-1"
                handler: [
                  100
                  0.09580624848604202
                  100
                  0.09580624848604202
                ]
              }
              {
                t: 24048.26450002499
                value: 1
                id: "no-id-Photoshop-Window Highlight-Opacity-point-0"
                handler: [
                  100
                  0.1525000035762787
                  100
                  0.1525000035762787
                ]
              }
              {
                t: 27915.44664576271
                value: 1
                id: "no-id-Photoshop-Window Highlight-Opacity-point-2"
                handler: [
                  100
                  0.09220000356435776
                  129.5478973388672
                  0
                ]
              }
              {
                t: 28151.8298088053
                value: 0
                id: "no-id-Photoshop-Window Highlight-Opacity-point-3"
                handler: [
                  167.53805541992188
                  0
                  100
                  -0.008643750101327896
                ]
              }
            ]
            connectors: [
              t: 27915.44664576271
              id: "no-id-Photoshop-Window Highlight-Opacity-connector-4"
            ]

  timelineEditor:
    scrollTop: 251
    guides:
      _list: [
        19993.636315890868
        21000
        25000
        25891.54871746121
        30000
      ]
}