{
  mainBox:
    height: 571
    _isVisible: true

  timeControl:
    t: 21314.740854722568
    _focus:
      from: 18692.54812958895
      to: 22457.509919255623

    _lastPlayedTickAt: 0

  workspaces:
    workspaces: [
      {
        name: "Stuff"
        propHolders: []
      }
      {
        name: "Photoshop"
        propHolders: [
          {
            id: "no-id-Photoshop-BG-Opacity"
            _expanded: true
            actorPropId: "no-id-Photoshop-BG-Opacity"
            _height: 80
          }
          {
            id: "no-id-Photoshop-BG-Scale X"
            _expanded: true
            actorPropId: "no-id-Photoshop-BG-Scale X"
            _height: 245
          }
          {
            id: "no-id-Photoshop-BG-Scale Y"
            _expanded: true
            actorPropId: "no-id-Photoshop-BG-Scale Y"
            _height: 80
          }
        ]
      }
    ]
    _activeWorkspaceName: "Photoshop"

  timeline:
    _allProps:
      "no-id-Slideshows-Slideshow-Slide":
        pacs:
          _idCounter: 3
          chronologyLength: 662.7245077059946
          chronology:
            points: [
              {
                t: 24.521531100478512
                value: 0
                id: "no-id-Slideshows-Slideshow-Slide-point-0"
                handler: [
                  30.023921966552734
                  1.7630478143692017
                  12.081337928771973
                  1.316975474357605
                ]
              }
              {
                t: 162.67040946358594
                value: 1
                id: "no-id-Slideshows-Slideshow-Slide-point-2"
                handler: [
                  17.464113235473633
                  0.33837011456489563
                  22.846887588500977
                  0.5574586987495422
                ]
              }
              {
                t: 314.2206246543725
                value: 2
                id: "no-id-Slideshows-Slideshow-Slide-point-3"
                handler: [
                  18.66028594970703
                  0.38705646991729736
                  17.464113235473633
                  0.2896837890148163
                ]
              }
              {
                t: 478.00305354523846
                value: 3
                id: "no-id-Slideshows-Slideshow-Slide-point-1"
                handler: [
                  16.86602783203125
                  0.7731920480728149
                  13.875596046447754
                  0.6882259249687195
                ]
              }
              {
                t: 662.7245077059946
                value: 4
                id: "no-id-Slideshows-Slideshow-Slide-point-1"
                handler: [
                  16.86602783203125
                  0.7731920480728149
                  13.875596046447754
                  0.6882259249687195
                ]
              }
            ]
            connectors: []

      "no-id-Photoshop-BG-Opacity":
        pacs:
          _idCounter: 8
          chronologyLength: 20784.923605808315
          chronology:
            points: [
              {
                t: 19992.677824267776
                value: 0
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  15.271965026855469
                  0.721875011920929
                  762.6152954101562
                  0
                ]
              }
              {
                t: 20784.923605808315
                value: 1
                id: "no-id-Photoshop-BG-Opacity-point-4"
                handler: [
                  467.3353271484375
                  0
                  100
                  0.048124998807907104
                ]
              }
            ]
            connectors: [
              t: 19992.677824267776
              id: "no-id-Photoshop-BG-Opacity-connector-8"
            ]

      "no-id-Photoshop-Tools-Opacity":
        pacs:
          _idCounter: 0
          chronologyLength: 19996.107075592783
          chronology:
            points: [
              t: 19996.107075592783
              value: 0
              id: "no-id-Photoshop-BG-Opacity-point-3"
              handler: [
                15.271965026855469
                0.721875011920929
                217.16845703125
                0
              ]
            ]
            connectors: []

      "no-id-Photoshop-Layers-Opacity":
        pacs:
          _idCounter: 0
          chronologyLength: 19996.107075592783
          chronology:
            points: [
              t: 19996.107075592783
              value: 0
              id: "no-id-Photoshop-BG-Opacity-point-3"
              handler: [
                15.271965026855469
                0.721875011920929
                217.16845703125
                0
              ]
            ]
            connectors: []

      "no-id-Photoshop-BG-Rotation X":
        pacs:
          _idCounter: 0
          chronologyLength: 19992.168831042927
          chronology:
            points: []
            connectors: []

      "no-id-Photoshop-BG-Scale X":
        pacs:
          _idCounter: 2
          chronologyLength: 20891.54871746121
          chronology:
            points: [
              {
                t: 19998.07619786772
                value: 0.85
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  15.271965026855469
                  0.721875011920929
                  762.6152954101562
                  0
                ]
              }
              {
                t: 20891.54871746121
                value: 1
                id: "no-id-Photoshop-BG-Opacity-point-4"
                handler: [
                  434.75079345703125
                  0
                  100
                  0.048124998807907104
                ]
              }
            ]
            connectors: [
              t: 19998.07619786772
              id: "no-id-Photoshop-BG-Scale X-connector-2"
            ]

      "no-id-Photoshop-BG-Scale Y":
        pacs:
          _idCounter: 0
          chronologyLength: 20891.54871746121
          chronology:
            points: [
              {
                t: 19998.07619786772
                value: 0.85
                id: "no-id-Photoshop-BG-Opacity-point-3"
                handler: [
                  15.271965026855469
                  0.721875011920929
                  762.6152954101562
                  0
                ]
              }
              {
                t: 20891.54871746121
                value: 1
                id: "no-id-Photoshop-BG-Opacity-point-4"
                handler: [
                  430.81256103515625
                  0
                  100
                  0.048124998807907104
                ]
              }
            ]
            connectors: [
              t: 19998.07619786772
              id: "no-id-Photoshop-BG-Scale X-connector-2"
            ]

  timelineEditor:
    scrollTop: -4
    guides:
      _list: [
        19993.636315890868
        21000
      ]
}