#ending-links-container

	position: absolute

	left: 10vw
	top: 20vh

.link

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400
	font-size: 38px

#ending-fb-link

	@extend .link

	position: absolute



#ending-twitter-link

	@extend .link

	position: absolute

	width: 100px

#ending-newsletter

	position: absolute

	> .newsletter

		display: inline-block

	#mce-EMAIL

		// position: absolute

		// left: 0
		//
		display: inline-block

		width: 228px
		height: 100%

	#mc-embedded-subscribe

		display: inline-block