.link

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400
	font-size: 25px

	top: calc(50vh - 10px)

#ending-fb-link

	@extend .link

	position: absolute

	left: calc(50vw - 420px)

#ending-twitter-link

	@extend .link

	position: absolute

	width: 160px

	left: calc(50vw - 180px)

#ending-newsletter

	@extend .link

	position: absolute

	left: calc(50vw + 60px)
	top: calc(50vh - 13px)

	width: 300px

	.ending-mail

		position: absolute

		left: 50px
		top: -5px

		width: 250px

		font-size: 18px

		color: #FFF !important

		border-bottom: 1px solid rgba(255, 255, 255, .1)

	.ending-subscribe

		position: absolute

		left: 320px

		font-size: 18px

		color: #FFF

		border: 1px solid rgba(255, 255, 255, .1)

