.link

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400
	font-size: 25px

	top: calc(50vh - 10px)

#ending-fb-link

	@extend .link

	position: absolute

	left: calc(50vw - 420px)

#ending-twitter-link

	@extend .link

	position: absolute

	width: 160px

	left: calc(50vw - 180px)

#ending-newsletter

	position: absolute

	left: 50vw
	top: calc(50vh - 13px)

	width: 300px

	#mce-EMAIL

		position: absolute

		left: 0
		top: -5px

		width: 370px

		font-size: 25px

	#mc-embedded-subscribe

		position: absolute

		left: 370px

		font-size: 25px

