@mixin thingy

	color: white
	font-family: "Droid Sans"
	position: absolute

.gelobi-questionMark

	@include thingy

	font-size: 48px

	left: calc(50% + 74px)
	top: calc(50% - 43px)

.gelobi-aPlace

	@include thingy

	@include centralize(700px, 40px)

	font-size: 36px

	white-space: nowrap