@mixin thingy

	color: white
	font-family: "Droid Sans"
	position: absolute

.gelobi-gelobi

	position: absolute
	right: 50%
	bottom: 50%

	text-align: right

	color: white
	font-family: "Droid Sans"

	font-size: 48px

	@include transform-origin(bottom right)

	// background: rgba(0, 255, 0, 0.2)

	line-height: 59px

	width: 140px
	height: 61px

.gelobi-questionMark

	@include thingy

	font-size: 46px

	left: calc(50% - 219px)
	top: calc(50% - 53px)

	// display: none

.gelobi-aPlace

	@include thingy

	position: absolute

	// @include centralizeX(700px)

	top: calc(50% + 10px)

	font-size: 36px

	white-space: nowrap

.gelobi-aPlacea

	@include thingy

	position: absolute

	@include centralizeX(700px)

	top: calc(50% + 60px)

	font-size: 36px

	white-space: nowrap

.gelobi-aPlace-a

	left: calc(50% - 354px)

.gelobi-aPlace-place

	left: calc(50% - 324px)

.gelobi-aPlace-blog

	left: calc(50% - 220px)

.gelobi-aPlace-to

	left: calc(50% - 114px)

.gelobi-aPlace-experiment

	left: calc(50% - 70px)

.gelobi-aPlace-with

	left: calc(50% + 130px)

.gelobi-aPlace-the

	left: calc(50% + 210px)

.gelobi-aPlace-web

	left: calc(50% + 280px)