#intro-im

	position: absolute

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400

	font-size: 38px

	width: 193px
	height: 44px

	left: calc(50vw - 96px)
	top: calc(50vh - 22px)

	opacity: 0