.moreTools-lines

	@include centralize(660px, 138px)
	color: white
	font-family: "Droid Sans"
	@include transform-style(preserve-3d)
	@include transform-origin(bottom right)
	cursor: text

	// background: rgba(255, 0, 0, 0.3)

@mixin moreToolsLine

	position: absolute
	@include transform-style(preserve-3d)

.moreTools-line1

	@include moreToolsLine

	font-weight: 700
	font-size: 48px

	top: 0
	left: 0

.moreTools-line1-tools

	left: 152px

.moreTools-line1-in

	left: 317px

.moreTools-line1-the

	left: 390px

.moreTools-line1-works

	left: 492px

.moreTools-line2

	@include moreToolsLine

	font-weight: 400
	font-size: 20px

	top: 46px
	left: 0

.moreTools-line2-panels

	left: 103px

.moreTools-line2-web

	left: 171px

.moreTools-line2-based

	left: 208px

.moreTools-line2-tools

	left: 274px

.moreTools-line2-nodejs

	left: 327px

.moreTools-line2-packages

	left: 392px

.moreTools-line2-among

	left: 485px

.moreTools-line2-other

	left: 552px

.moreTools-line2-things

	left: 604px

.moreTools-line3

	@include moreToolsLine

	font-weight: 400
	font-size: 30px

	top: 86px
	left: 0

.moreTools-line3-in

	left: 116px

.moreTools-line3-the

	left: 147px

.moreTools-line3-coming

	left: 200px

.moreTools-line3-weeks

	left: 306px

.moreTools-line3-right

	left: 406px

.moreTools-line3-here

	left: 477px

.moreTools-line3-in-2

	left: 546px