.moreTools-line1

	color: white
	font-family: "Droid Sans"
	font-weight: 700

	font-size: 48px

	@include centralize(658px, 36px)

.moreTools-line2

	color: white
	font-family: "Droid Sans"

	font-size: 20px

	@include centralize(658px, 36px)