@import './photoshop/interface'

@import './photoshop/grids'

.photoshop-blackifier

	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0

	background: black
	opacity: 0.5

	@include transform(translateZ(3px))
	z-index: 1