@mixin project-thingy

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400
	font-size: 22px

	top: calc(50% - 10px)
	position: absolute

#project-github

	@include project-thingy

	left: calc(50% - 390px)

#project-mail

	@include project-thingy

	left: calc(50% + 100px)

.project-mail-icon, .project-github-icon

	position: relative

	left: 4px

	font-size: 25px

	position: relative

	display: inline-block
	margin-right: 3px

.project-github-icon

	top: 1px

.project-github-a, .project-mail-a

	display: inline-block
	position: relative

	color: #FFF
	border-bottom: 1px solid #636363

	@include transition(all .15s)

	z-index: 500

	&:hover

		color: #000
		background: #FFF
