#theatre-theatre-typo

	position: absolute
	width: 154px
	height: 30px
	left: calc(50vw - 265px)
	top: calc(50vh - 75px)

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400
	font-size: 48px

#theatre-js-typo

	position: absolute
	width: 43px
	height: 60px
	left: calc(50vw - 108px)
	top: calc(50vh - 75px)

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400
	font-size: 48px

	@include transform-origin(center center)

	overflow: hidden

#theatre-animation-tool-typo

	position: absolute
	width: 320px
	height: 30px
	left: calc(50vw - 55px)
	top: calc(50vh - 70px)

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #AAA
	font-weight: 300
	font-size: 26px

	text-align: center

	> div

		display: inline-block

	> .animation

		margin-left: 6px

	> .tool

		margin-left: 2px

.bullet-list

	position: absolute
	height: 50px
	left: 0

	font-family: "Droid Sans", Helvetica, sans-serif
	color: #FFF
	font-weight: 400
	font-size: 24px

	top: calc(50vh - 20px)

#theatre-html-typo

	@extend .bullet-list

	left: calc(50vw - 265px)

#theatre-webgl-typo

	@extend .bullet-list

	left: calc(50vw - 85px)

#theatre-threejs-typo

	@extend .bullet-list

	left: calc(50vw + 88px)

#theatre-any-kind-typo

	@extend .bullet-list

	top: calc(50vh + 30px)
	left: calc(50vw - 267px)

	font-size: 39px

#theatre-browserMockup

	width: 90vw
	height: 90vh
	max-width: 1670px

	position: absolute

	left: calc(100% - 95vw)
	top: calc(100% - 95vh)

#theatre-browserMockup-head

	position: absolute
	width: 100%
	height: 37px

	background: #cbcbcb

	border-radius: 10px 10px 0 0

	&:after

		@include psuedo

		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 5px

		background: #f1f1f1

	&:before

		@include psuedo

		position: absolute
		width: 256px
		height: 25px
		top: 7px
		left: 110px
		background: #f1f1f1

		border-radius: 5px 5px 0 0

.theatre-browserMockup-head-winButton

	width: 15px
	height: 15px
	border-radius: 50%
	position: absolute
	top: 11px

	&.n1

		left: 22px
		background: #fb5e56

	&.n2

		left: 49px
		background: #ffc54e

	&.n3

		left: 76px
		background: #8bc811

#theatre-browserViewport

	position: absolute
	bottom: 0
	left: 0
	right: 0
	top: 37px

	border-radius: 0 0 10px 10px

	background: rgb(36, 36, 36)
	overflow: hidden

#theatre-fakeTheatre

	position: absolute
	left: 0
	right: 0
	bottom: 0
	height: 337px

	border-radius: 0 0 9px 9px

	background: url("../../images/film/theatre/mainBox.png") left bottom no-repeat

#theatre-theBall

	width: 80px
	height: 80px
	position: absolute
	bottom: 333px
	left: calc(50% - 40px)

	background: url("../../images/film/theatre/theBall.png")
	background-size: 80px 80px

	@include transform-origin(bottom center)