section

	display: block

	position: relative

	padding: 0 6px

	@include transform-origin(left)

	@include transition(opacity .1s)

div > hr, section > hr

	margin-bottom: 8px

	width: 100%

code

	display: inline-block