#downloadAndInstall

	position: relative

	margin-top: 1em

	opacity: 1 !important

	> h2, > ol, > p

		opacity: 1 !important

.article.focusOnDownloadAndInstall

	p, h2, header, ol

		opacity: 0.2

#filmSpace

	height: 280px

.film-display-view

	background: #333

	@include transform-origin(top center)

.film-preview-title

	font-family: "Droid Sans"
	font-weight: 400
	color: white
	font-size: 22px
	white-space: nowrap
	opacity: 0

	text-align: center

	position: absolute

	@include centralize(202px, 40px)

@import "../../../post-commons/styles/css/post.css"