$totalWidth: 730px
$sideMargin: 40px

@import "./post/parts/general"
@import "./post/parts/header"
@import "./post/parts/article"
@import "./post/parts/film"
@import "./post/parts/footer"
@import "./post/parts/gelobi"

#downloadAndInstall

	position: relative

	margin-top: 1em

	opacity: 1 !important

	> h2, > ol, > p

		opacity: 1 !important

.article.focusOnDownloadAndInstall

	p, h2, header, ol

		opacity: 0.2

.pageContainer

	z-index: 1