@import "./post/parts/general"
@import "./post/parts/header"
@import "./post/parts/article"
@import "./post/parts/film"
@import "./post/parts/footer"
@import "./post/parts/comments"
@import "./post/parts/gelobi"

#downloadAndInstall

	position: relative

	opacity: 1 !important

.article.focusOnDownloadAndInstall

	p, h2, header

		opacity: 0.1

		@include transition(oapcity 0.5s)