@mixin fullSize

	position: absolute

	top: 0
	bottom: 0
	left: 0
	right: 0


$selectionWidth: 360px
$selectionLeft: 7%
$selectionTop: 20%

#selection

	position: absolute

	width: $selectionWidth
	height: $selectionWidth

	top: $selectionTop
	left: $selectionLeft

	border: 1px dashed #FFF

	opacity: 0

	@include transform-origin(left top)

#griddify-forty

	position: absolute

	width: 100%
	height: $selectionWidth

	top: 20%

	background: url('../../images/photoshop/grids/4.png')

	opacity: 0

#divide-four

	@include fullSize

	> .v

		position: absolute
		height: 100%
		width: $selectionWidth
		left: $selectionLeft

		> div

			float: left

			border-right: 1px solid #00ffcc

			width: 25%
			height: 100%

	> .h

		position: absolute
		width: 100%
		height: $selectionWidth
		top: $selectionTop

		> div

			border-bottom: 1px solid #00ffcc

			width: 100%
			height: 25%

#wrap-zero

	position: absolute

	left: $selectionLeft
	width: $selectionWidth
	height: 100%

	border-left: 1px solid #00ffcc
	border-right: 1px solid #00ffcc

#wrap-ten-v

	position: absolute
	height: 100%
	width: $selectionWidth
	left: $selectionLeft

	> .l

		position: absolute

		width: 10px
		height: 100%

		border-right: 1px solid #00ffcc

		left: 0

	> .r

		position: absolute

		width: 10px
		height: 100%

		right: 0

		border-left: 1px solid #00ffcc

#wrap-ten-h

	position: absolute
	width: 100%
	height: $selectionWidth
	top: $selectionTop

	> .t

		position: absolute

		width: 100%
		height: 10px

		border-bottom: 1px solid #00ffcc

	> .b

		position: absolute

		width: 100%
		height: 10px

		bottom: 0

		border-top: 1px solid #00ffcc

#wrap-fifty-v

	@include fullSize

	> .l

		position: absolute

		width: 50px
		height: 100vh

		top: -20vh

		border-right: 1px solid #00ffcc

	> .r

		position: absolute

		width: 50px
		height: 100vh

		top: -20vh
		right: 0

		border-left: 1px solid #00ffcc

#wrap-fifty-h

	position: absolute
	width: 100%
	height: $selectionWidth
	top: $selectionTop
	overflow: visible

	> .t

		position: absolute

		width: 100%
		height: 50px

		top: -40px

		border-top: 1px solid #00ffcc

	> .b

		position: absolute

		width: 100%
		height: 50px

		bottom: -40px

		border-bottom: 1px solid #00ffcc

#hundred-v

	@include fullSize

	background: url('../../images/photoshop/grids/1.png')

	opacity: 0

#hundred-h

	@include fullSize

	background: url('../../images/photoshop/grids/2.png')

#twenty

	@include fullSize

	background: url('../../images/photoshop/grids/3.png')

#eighty

	@include fullSize

	background: url('../../images/photoshop/grids/4.png')

#divide-container

#four-v

	@include fullSize

	> div

		float: left

		border-right: 1px solid #00ffcc

		width: 25vw
		height: 100%
