.article

	position: relative
	width: 760px
	margin-top: 120px

	margin-right: auto
	margin-left: auto

.article-title

	font-family: "Droid Sans", Helvetica, sans-serif
	font-weight: 700
	font-size: 40px
	line-height: 48px

.article-content

	color: #1c1c1c

	h2, h3, h4

		font-family: "Droid Sans", Helvetica, sans-serif
		font-weight: 700

	position: relative

.article-content a

	position: relative
	@include transition(color 0.2s)

	&:before

		@include psuedo

		position: absolute
		left: 0
		right: 0
		top: -4px
		bottom: 1px

		border-bottom: 1px solid #636363

		z-index: -1

	&:after

		@include psuedo

		position: absolute
		left: -3px
		right: -3px
		top: -4px
		bottom: -4px

		z-index: -1

		background: #222

		@include transform(scale(0.9) translateZ(-1px))

		@include transition(all 0.15s)

		opacity: 0

	&:hover

		color: #FAFAFA

		&:after

			@include transform(scale(1) translateZ(-1px))

			opacity: 1